body
{
  background-color: '#262626';
}

 .label {
      cursor: pointer;
    }

 .progress {
      display: none;
      margin-bottom: 1rem;
    }

 .alert {
      display: none;
    }

 .img-container img {
      max-width: 100%;
    }
#toppanel{
  position: absolute;
  left:2%;
}
.button{
text-decoration:none; text-align:center; 
 padding:11px 32px; 
 border:none; 

  
 font:16px "Courier New", Courier, monospace; 
 font-weight:bold; 
 color:#ffffff; 
 background:#4e4d4d; 
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }.button:hover{
 padding:11px 32px; 
 border:none; 
  
 font:16px "Courier New", Courier, monospace; 
 font-weight:bold; 
 color:#ffffff; 
 background:#595959; 
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }.button:active{
 padding:11px 32px; 
 border:none; 
  
 font:16px "Courier New", Courier, monospace; 
 font-weight:bold; 
 color:#ffffff; 
 background:#828282; 
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }
    
.dropdown {
    position: absolute;
    display: inline-block;
  }
.dropdown-child {
	z-index: 80;
	position:absolute;
    display: none;
    background-color: #8C8E8D;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-child {
    display: block;
}
.panel p {
  background:#4e4d4d; 
    display: block;
    z-index: 4;
     color:white;
}
 html { overflow:  hidden; }
   

.right{
margin-top: 20px;
float: right;
width: 250px;
text-align: center;
}
.left{
	margin-top: 20px;
	float:left;
	width: 300px;
text-align: center;
margin-right: 0;}

.canvas{
	margin-top: 20px;
	background-color: black;
	  display: block;
       margin-left: auto;

}

.elems{
  /*overflow: scroll;*/
 visibility: hidden;
 position: absolute;
  z-index: 1;
  left:43%;
  top:5%;
  width: 440px;
  background-color: #828282;
  margin:10px;
  border-radius:7px;
  
}

.elems div{
  display: inline-block;

}


#result{
  font-size: 20px;
}

.size_button{
  width:25px;
  height:25px;
}

.programm{
  background-color: #262626;
  max-height: 100%;
  max-width: 100%
}
 #avatar{
  margin-top: 40px;
 }
 
.cells:hover{
  background-color: #626262;
}